/* h1{
  background-color: pink;
  font-family: 'Birthstone', cursive;
}
.main_div{
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.inner_div{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width: 400px;
  background-color: aquamarine;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cards{
 
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card{
   backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    box-shadow: 5px 10px #acdceb;
    border: 1px solid rgba(209, 213, 219, 0.3);
  /* border: 2px solid green; */
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
 
}
.card img {
  width: 300px;
  height: 250px;
  object-fit:fill;
}
.card h2,h5{
  text-align: center;
}
.card a{
  margin-top: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.card button{
  cursor: pointer;
}
.heading{
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
  background-color: aqua;
}